/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background: linear-gradient(0deg, #EAEAEA 80%, #479388 80%);
}

.container {
    width: 70%;
    min-width: 1000px;
    height: 90vh;
    margin: 5vh auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}


/* Regole per le sezioni */
.section-left {
    width: 35%;
    height: 100%;
    float: left;
    background-color: rgb(250, 250, 250);
}

.section-right {
    width: 65%;
    height: 100%;
    float: right;
    border-left: 1px solid grey;
    background-image: url(img/mine.jpg);
    background-repeat: repeat;
    position: relative;
}

/* Regole per gli header*/
.header {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header h5 {
    display: inline-block;
}

.header .user {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50%;
    margin-right: 10px;
}

.header i {
    margin: 0 10px;
    color: rgb(180, 180, 180);
}
.header i:hover {
    cursor: pointer;
}

/* Regole classi aggiuntive dinaminche*/
.active {
    background-color: #cbd3d6;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/* Regole per la sezione di sinistra*/
/* Gestione notifiche*/
.notifications {
    background-color: #9FD8F8;
    padding: 10px;
    display: flex;
    align-items: center;
}
.notifications span {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.bell {
    display: inline-block;
    padding: 6px;
    height: 35px;
    width: 35px;
    background-color: aliceblue;
    border-radius: 50%;
}

.bell i {
    font-size: 20px;
    color: #9FD8F8;
}

.text {
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
}
.text span {
    font-size: 12px;
    text-decoration: underline;
}

/* Ricerca contatti */
.search {
    padding: 10px;
}
.search span {
    width: 10%;

}
.search i {
    color: rgb(180, 180, 180);
}
.search input {
    width: 90%;
    border: none;
    padding: 5px 10px;
}

.box {
    background-color: white;
    padding: 10px;
}


/* lista delle chat */
.chats {
    display: flex;
    flex-direction: column;
    
}
#chat-list {
    height: calc(90vh - 185px);
    overflow-y: auto;
}
.row {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid lightgray;
    position: relative;

}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact span {
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}
.row p {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    color: grey;
}



/* Regole per la sezione di destra*/
/* Interfaccia dei messaggi*/

#info-contatto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#lastAccess {
    color: grey;
    font-size: 12px;
}

.messages {
    padding: 20px 30px;
    overflow-y: auto;
    height: calc(90vh - 100px);
}
.msg-line {
    margin-bottom: 5px;
}
.msg-line::after {
    content: '';
    display: block;
    clear: both;
}

.msg {
    padding: 10px 15px;
    width: fit-content;
    min-width: 35%;
    position: relative;
}
.msg::after {
    content: '';
    display: block;
    clear: both;
}
.msg p {
    float: right;
    color: gray;
    font-size: 8px;
}
.msg span {
    margin-right: 15px;
}
.msg i {
    display: none;
    box-shadow: -10px 10px 10px #DDF8C0;
    background-color: #DDF8C0;
    color: gray;
    font-size: 24px;
    z-index: 99;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
.msg i:hover {
    cursor: pointer;
}
.msg:hover i {
    display: block;
}

.msg-sent {
    background-color: #DDF8C0;
    border-radius: 10px;
    float: right;
}
.msg-received {
    background-color: whitesmoke;
    border-radius: 10px;
}
.msg-received i {
    box-shadow: -10px 10px 10px whitesmoke;
    background-color: whitesmoke;
}

.msg-options {
    height: 60px;
    position: absolute;
    top: 60%;
    right: 5%;
    background-color: white;
    box-shadow: -5px 5px 5px lightgrey;
    z-index: 999;
    padding: 5px;
    text-align: center;
}
.msg-options p {
    font-size: 16px;
    color: black;
    margin-top: 5px;
    float: none;
}
.msg-options p:hover {
    cursor: pointer;
}


/* Regole per la barra di scrittura del messaggio*/
.type-bar {
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: #F3EEEA;
    color: grey;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.type-bar input {
    width: 90%;
    height: 30px;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
